:root {
    /* reset style */
    box-sizing: border-box;

    /* custom variable */
    --navy-blue: #000080;
    --baby-blue: #89CFF0;
    --forest-green: #228B22;
    --scarlet: #FF2400;
    --tangerine: #F28500;
    --jet-black: #0A0A0A;
    --lighter-black: #2d2d2d;
}

html, body {
    padding: 0;
    margin: 0;
}