.main {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 100%;
    height: 30vh;
}

.navy-blue {
    background-color: var(--navy-blue);
}

.baby-blue {
    background-color: var(--baby-blue);
}

.forest-green {
    background-color: var(--forest-green);
}

.scarlet {
    background-color: var(--scarlet);
}

/* tablet */
@media screen and (min-width: 768px) {
    .navy-blue {
        height: 60vh;
        width: 50vw;
    }

    .baby-blue, .forest-green {
        height: 30vh;
        width: 50vw;
    }
}

/* laptop */
@media screen and (min-width: 1024px) {
    .scarlet {
        order: 1;
        width: 15vw;
        height: 80vh;
    }

    .wrapper {
        order: 2;
    }

    .baby-blue, .forest-green {
        width: 70vw;
        height: 40vh;
    }

    .navy-blue {
        order: 3;
        width: 15vw;
        height: 80vh;
    }
}

/* larger laptop */
/* @media screen and (min-width: 1440px) {
} */